// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower

@import "variables";
@import "fontello";



$mobile: new-breakpoint(max-width 767px 4);
$tablet: new-breakpoint(max-width 760px 8);

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  line-height: 24px;
  /* background-image: url("/images/bg-pictures.png"); */
}

.hide {
  display: none !important;
}

.omega {
  /* @include omega(); */
  margin-right: 0 !important;
}

.welcome-section {
  background-color: #323232;
  background-position: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  opacity: 0.9;
  @include media($mobile) {
    background-image: url("/images/bg-pictures.png");
    opacity: 0.9;
  }

  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  @media (min-aspect-ratio: 16/9) {
    video {
      height: 400%;
      top: -150%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    video {
      height: 400%;
      top: -150%;
    }
  }
  @include media($mobile) {
    video {
      display: none;
    }
  }

  .monogram-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -297.5px;
    margin-top: -278px;
    @include media($mobile) {
      width: 80%;
      margin: 10%;
      left: 0;
      top: 0;
    }
  }

}

.about-both {

  .content {
    @include outer-container;
    height: auto;
    position: relative;
    padding: 0 0 100px;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 50px;
      position: relative;

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }

    .icon-heart {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -43px;
      font-size: 60px;
      top: 160px;
      color: #ccc;
      @include media ($mobile) {
        display: none;
      }
    }

    .avatar {
      width: 240px;
      height: 240px;
      background-size: contain;
      @include outer-container(100%);
      @include border-top-radius(100%);
      @include border-right-radius(100%);
      @include border-bottom-radius(100%);
      @include border-left-radius(100%);
    }

    .name {
      text-align: center;
      font-family: $montserrat;
      font-weight: 400;
      margin-bottom: 0;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $dark-gray;
    }

    .dob {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 12px;
      color: $gray;
    }

    .bride {
      @include span-columns(6);
      @include media ($mobile) {
        width: 100%;
      }
      .avatar {
        background-image: url("/images/bride.jpg");
      }
    }

    .groom {
      @include span-columns(6);
      @include media ($mobile) {
        width: 100%;
      }
      .avatar {
        background-image: url("/images/groom.jpg");
      }
    }

    .about {
      @include span-columns(10);
      @include shift(1);
      text-align: center;
      font-family: $lato;
      color: $dark-gray;
      font-size: 15px;
      @include media ($mobile) {
        margin-bottom: 50px;
      }
    }

  }

}

.count-down {

  background: url("/images/bg-count-down.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center;
  .content {
    @include outer-container;
    position: relative;
    padding: 50px;
    margin-top: 0;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: white;
      margin: 50px;
      position: relative;

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: white;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }
    .box-time {
      @include span-columns(2);
      box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      border: 10px solid white;
      color: white;
      font-size: 60px;
      text-align: center;
      font-family: $montserrat;
      padding: 50px 0px;
      @include media($mobile) {
        font-size: 30px;
        border: 5px solid white;
      }
    }

    .box-time-label {
      @include span-columns(2);
      color: white;
      font-size: 20px;
      text-align: center;
      font-family: $montserrat;
      padding: 10px 0px;
      @include media($mobile) {
        font-size: 10px;
      }
    }

    .icon {
      padding: 32px 0 !important;
    }

  }
}

.about-event {

  background-color: white;
  border-bottom: 1px solid $cloud;
  .content {
    @include outer-container;
    position: relative;
    padding: 50px;
    margin-top: 0;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 0 50px 50px;
      position: relative;

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }

    .time-line {
      vertical-align: center;
      height: auto;
      @include span-columns(12);
      position: relative;

      &:before {
        content: '';
        height: 100%;
        width: 10px;
        display: block;
        background: $gray;
        position: absolute;
        left: 50%;
        margin-left: -5px;
      }

      .item-time-line {
        @include span-columns(12);
        font-family: $montserrat;
        font-weight: 400;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
        /* margin-bottom: 30px; */

      }
      .item-time-line-left {
        @include span-columns(5 of 12);
        background-color: $dark-gray;
        position: relative;
        right: 0;
        padding: 20px;
        vertical-align: middle;
      }
      .item-time-line-middle {
        @include span-columns(2 of 12);
        text-align: center;
        i {
          font-size: 40px;
          color: $gray;
          background-color: $dark-gray;
          padding: 10px;
        }
      }
      .item-time-line-right {
        @include span-columns(5 of 12);
        background-color: $dark-gray;
        position: relative;
        right: 0;
        padding: 20px;
        vertical-align: middle;
      }

      .item-hidden {
        background-color: transparent;
      }

    }
  }
}

.where-we-go {

  background-color: white;
  .content {
    @include outer-container;
    position: relative;
    /* padding: 100px 50px 200px; */
    padding: 50px;
    margin-top: 0;
    text-align: center;
    height: 100vh;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 0 50px 50px;
      position: relative;
      margin-bottom: 20vh;

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }

    .icon {
      color: $dark-gray;
      font-size: 250px;
    }

    .question {
      color: $dark-gray;
      font-family: $lato;
      line-height: 1em;
    }

  }
}


.to-cancun {

  background: url("/images/bg-cancun-1.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center;
  /* height: 400px; */
  height: 100vh;
  .content {
    @include outer-container;
    position: relative;
    padding: 50px;
    margin-top: 0;
    text-align: center;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: white;
      margin: 100px 0px 50px;
      font-size: 80px;
      position: relative;
      @include media($mobile) {
        font-size: 50px;
        line-height: 1em;
      }

      &:after {
        content: '';
        height: 3px;
        width: 60%;
        display: block;
        background: white;
        position: absolute;
        bottom: -50px;
        left: 50%;
        margin-left: -30%;
      }
    }
  }
}


.want-to-do {

  background-color: white;
  .content {
    @include outer-container;
    position: relative;
    /* padding: 100px 50px 200px; */
    padding: 50px;
    margin-top: 0;
    text-align: center;
    /* height: 100vh; */
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 0 50px 50px;
      position: relative;
      margin-bottom: 20vh;

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }

    .box-info {
      @include span-columns(6);
      margin-bottom: 30px;
      img {
        width: 100%;
      }
      .title-info {
        text-align: left;
        font-family: $montserrat;
        font-weight: 400;
        margin: 0 10px 15px;
        font-size: 20px;
        text-transform: uppercase;
        color: $dark-gray;
      }
      .description {
        text-align: left;
        font-family: $lato;
        color: $dark-gray;
        font-size: 15px;
        margin: 0 10px 15px;
      }
    }

  }
}
