// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower

@import "variables";
@import "fontello";



$mobile: new-breakpoint(max-width 767px 4);
$tablet: new-breakpoint(max-width 760px 8);

body {
  background: #fafafa;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: $lato, sans-serif;
  color: #333;
  margin: 0;
  line-height: 24px;
  /* background-image: url("/images/bg-pictures.png"); */
}

.hide {
  display: none !important;
}

.omega {
  /* @include omega(); */
  margin-right: 0 !important;
}

.custom-border-top {
  background-image: url("/images/border-top.png");
  margin-top: -5px;
  height: 7px;
  background-size: contain;
  position: absolute;
  width: 100%;
}

.custom-border-bottom {
  background-image: url("/images/border-bottom.png");
  height: 7px;
  background-size: contain;
  position: absolute;
  width: 100%;
}

.social-box {
  position: fixed;
  z-index: 999;
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 5px;
}

.music-play {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 24px;
  background-color: #fff;
  z-index: 999;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.5;
  i {
    font-size: 21px;
  }
  &:hover {
    opacity: 1;
  }
}

.welcome-section {
  background-color: #323232;
  background-position: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  opacity: 0.9;
  /* z-index: -1; */
  @include media($mobile) {
    background-image: url("/images/bg-pictures.png");
    opacity: 0.9;
  }

  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  @media (min-aspect-ratio: 16/9) {
    video {
      height: 400%;
      top: -150%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    video {
      height: 400%;
      top: -150%;
    }
  }
  @include media($mobile) {
    video {
      display: none;
    }
  }

  .monogram-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -297.5px;
    margin-top: -278px;
    opacity: 0.4;
    @include media($mobile) {
      width: 80%;
      margin: 10%;
      left: 0;
      top: 0;
    }
  }

}

.about-both {

  .content {
    @include outer-container;
    height: auto;
    position: relative;
    padding: 0 0 100px;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 50px;
      position: relative;
      @include media ($mobile) {
        line-height: 1.1;
      }

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }

    .icon-heart {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -43px;
      font-size: 60px;
      top: 160px;
      color: #ccc;
      @include media ($mobile) {
        display: none;
      }
    }

    .avatar {
      width: 240px;
      height: 240px;
      background-size: contain;
      @include outer-container(100%);
      @include border-top-radius(100%);
      @include border-right-radius(100%);
      @include border-bottom-radius(100%);
      @include border-left-radius(100%);
    }

    .name {
      text-align: center;
      font-family: $montserrat;
      font-weight: 400;
      margin-bottom: 0;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $dark-gray;
    }

    .dob {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 12px;
      color: $gray;
    }

    .bride {
      @include span-columns(6);
      @include media ($mobile) {
        width: 100%;
      }
      .avatar {
        background-image: url("/images/bride.jpg");
      }
    }

    .groom {
      @include span-columns(6);
      @include media ($mobile) {
        width: 100%;
      }
      .avatar {
        background-image: url("/images/groom.jpg");
      }
    }

    .about {
      @include span-columns(10);
      @include shift(1);
      text-align: center;
      font-family: $lato;
      color: $dark-gray;
      font-size: 15px;
      @include media ($mobile) {
        margin-bottom: 50px;
      }
    }

  }

}

.count-down {

  /* background: url("/images/bg-count-down.jpg") no-repeat fixed; */
  background: url("/images/welcome-bg.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center;
  /* border-top: 5px dotted #fff; */
  /* border-bottom: 5px dotted #fff; */
  .content {
    @include outer-container;
    position: relative;
    padding: 50px;
    margin-top: 0;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: white;
      margin: 50px;
      position: relative;
      @include media ($mobile) {
        margin-left: 0;
        margin-right: 0;
        line-height: 1.1;
      }

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: white;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }
    .box-time {
      @include span-columns(3);
      box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      border: 10px solid white;
      color: white;
      font-size: 60px;
      text-align: center;
      font-family: $montserrat;
      padding: 50px 0px;
      @include media($mobile) {
        font-size: 30px;
        border: 5px solid white;
      }
    }

    .box-time-label {
      @include span-columns(3);
      color: white;
      font-size: 20px;
      text-align: center;
      font-family: $montserrat;
      padding: 10px 0px;
      @include media($mobile) {
        font-size: 10px;
      }
    }

    .icon {
      padding: 32px 0 !important;
    }

  }
}

.about-event {

  background-color: white;
  border-bottom: 1px solid $cloud;
  .content {
    @include outer-container;
    position: relative;
    padding: 50px;
    margin-top: 0;
    min-height: 100vh;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 0 50px 50px;
      position: relative;
      @include media ($mobile) {
        margin-left: 0;
        margin-right: 0;
      }

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }

    .intro-event, .save-the-date, .date, .icon-map, .text-format {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      color: #555555;
      margin-top: 80px;
      text-align: center;
    }
    .save-the-date {
      margin-top: 20px;
    }

    .date {
      margin-top: 20px;
      font-size: 45px
    }

    .icon-map {
      display: block;
      margin-top: 20px;
      font-size: 130px;
    }

    .time-line {
      vertical-align: center;
      height: auto;
      @include span-columns(12);
      position: relative;

      &:before {
        content: '';
        height: 100%;
        width: 10px;
        display: block;
        background: $gray;
        position: absolute;
        left: 50%;
        margin-left: -5px;
      }

      .item-time-line {
        @include span-columns(12);
        font-family: $montserrat;
        font-weight: 400;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
        /* margin-bottom: 30px; */

      }
      .item-time-line-left {
        @include span-columns(5 of 12);
        background-color: $dark-gray;
        position: relative;
        right: 0;
        padding: 20px;
        vertical-align: middle;
      }
      .item-time-line-middle {
        @include span-columns(2 of 12);
        text-align: center;
        i {
          font-size: 40px;
          color: $gray;
          background-color: $dark-gray;
          padding: 10px;
        }
      }
      .item-time-line-right {
        @include span-columns(5 of 12);
        background-color: $dark-gray;
        position: relative;
        right: 0;
        padding: 20px;
        vertical-align: middle;
      }

      .item-hidden {
        background-color: transparent;
      }

    }
  }
}

.where-we-go {

  background-color: white;
  .content {
    @include outer-container;
    position: relative;
    /* padding: 100px 50px 200px; */
    padding: 50px;
    margin-top: 0;
    text-align: center;
    min-height: 100vh;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 0 50px 50px;
      position: relative;
      margin-bottom: 20vh;
      @include media ($mobile) {
        margin-left: 0;
        margin-right: 0;
        i {
          display: block;
          margin: 5px 0;
        }
      }

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }

    .icon {
      color: $dark-gray;
      font-size: 250px;
      @include media ($mobile) {
        font-size: 190px;
      }
      &:before {
        margin: 0;
      }
    }

    .question {
      color: $dark-gray;
      font-family: $lato;
      line-height: 1em;
    }

  }
}


.to-cancun {

  background: url("/images/bg-cancun-1.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  .content {
    @include outer-container;
    position: relative;
    padding: 50px;
    margin-top: 0;
    text-align: center;
    @include media ($mobile) {
      padding: 50px 0;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: white;
      margin: 100px 0px 50px;
      font-size: 80px;
      position: relative;
      line-height: 1em;
      text-shadow: 2px 4px 0px rgba(31, 134, 142, 1);
      @include media($mobile) {
        font-size: 35px;
        line-height: 1em;
      }

      &:after {
        content: '';
        height: 3px;
        width: 60%;
        display: block;
        background: white;
        position: absolute;
        bottom: -50px;
        left: 50%;
        margin-left: -30%;
      }
    }
  }
}


.want-to-do {

  background-color: white;
  .content {
    @include outer-container;
    position: relative;
    /* padding: 100px 50px 200px; */
    padding: 50px;
    margin-top: 0;
    text-align: center;
    /* height: 100vh; */
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 0 50px 50px;
      position: relative;
      margin-bottom: 80px;
      @include media($mobile) {
        line-height: 1em;
        margin-left: 0;
        margin-right: 0;
      }

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }

    .box-info {
      @include span-columns(6);
      margin-bottom: 30px;
      @include media($mobile) {
        width: 100%;
      }
      img {
        width: 100%;
      }
      .title-info {
        text-align: left;
        font-family: $montserrat;
        font-weight: 400;
        margin: 0 10px 15px;
        font-size: 20px;
        text-transform: uppercase;
        color: $dark-gray;
      }
      .description {
        text-align: left;
        font-family: $lato;
        color: $dark-gray;
        font-size: 15px;
        margin: 0 10px 15px;
      }
    }

  }
}

.donations {
  background-color: white;
  .content {
    @include outer-container;
    position: relative;
    padding: 50px;
    margin-top: 0;
    text-align: center;
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 0 50px 100px;
      position: relative;
      @include media($mobile) {
        line-height: 1em;
        margin-left: 0;
        margin-right: 0;
      }

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }
    .introduction {
      font-family: $montserrat;
      font-size: 20px;
      color: $dark-gray;
      margin-bottom: 60px;
    }
    .price-box {
      @include span-columns(3);
      margin-bottom: 30px;
      @include media($mobile) {
        width: 100%;
      }
      background-color: $gray;
      .price-header {
        padding: 30px 0;
        i {
          font-size: 100px;
        }
      }
      .price-content {
        background-color: rgba(0, 0, 0, 0.13);
        .price-name {
          font-family: $montserrat;
          font-size: 20px;
          padding: 20px 0 0 0;
        }
        .price-value {
          font-family: $montserrat;
          font-size: 30px;
          padding: 30px 0;
        }
      }
    }
    .price-sympathy {
      background-color: #1abc9c;
      color: white;
    }
    .price-affection {
      background-color: #3498db;
      color: white;
    }
    .price-love {
      background-color: #e74c3c;
      color: white;
    }
    .price-much-love {
      background-color: #9b59b6;
      color: white;
    }
/*     .donate-now {
  @include span-columns(12);
  margin: 40px 30%;
  width: 40%;
  padding: 10px;
  background-color: \$gray;
  font-family: \$montserrat;
  font-size: 20px;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: \$dark-gray;
  }
} */
    .info-donation {
      @include span-columns(12);
      color: $dark-gray;
      background-color: $cloud;
      border: 3px dotted $gray;
      margin-bottom: 20px;
      .show-account {
      }
      .account {
      }
    }

    .about-taxas {
      font-family: "Montserrat", sans-serif;
       font-size: 13px;
       color: #555555;
       line-height: 1.6;
       margin-bottom: 15px;
    }

  }
}

.where {

  background-color: white;
  .content {
    @include outer-container;
    position: relative;
    /* padding: 100px 50px 200px; */
    padding: 50px;
    margin-top: 0;
    text-align: center;
    /* height: 100vh; */
    @include media ($mobile) {
      padding-bottom: 50px;
    }

    .title {
      text-align: center;
      font-family: $lato;
      text-transform: uppercase;
      color: $dark-gray;
      margin: 0 50px 0px;
      position: relative;
      margin-bottom: 0px;
      @include media($mobile) {
        line-height: 1em;
        margin-left: 0;
        margin-right: 0;
      }

      &:after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $gray;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -50px;
      }
    }
  }
}





.map-section {

  background-color: white;

  #map-canvas {
    height: 60vh;
  }

}
